.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  
  .content {
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  
  .title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
  }